# Copy this file to .env only when you need to override a default.
IRIS_IMAGE=containers.intersystems.com/intersystems/iris-community:latest-em
WEBGATEWAY_IMAGE=containers.intersystems.com/intersystems/webgateway:latest-em
IRIS_WEB_PORT=52773
IRIS_SUPERSERVER_PORT=1972
